table.widefat {
    border: 0;
}

 table.wp-list-table td ol {
        margin: 0;
    }

.column-created {
    width: 8rem;
}

.column-context {
    width: 5rem;
}

.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: green;
}
